.alive, .dead {
    position: absolute;
    border-radius: 1000px;
    border: 0px;
    font-size: 20px;
}

.alive {
    background-color: #000000;
    box-shadow: inset 2px 2px 3px 1px rgba(255, 255, 255, 0.3);
}

.dead {
    background-color: #FFFFFF;
    box-shadow: inset 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .dead, .alive {
        cursor: pointer;
    }
    .dead:hover {
        background-color: lightgrey;
    }
    .alive:hover {
        background-color: darkgrey;
    }
}