.layout {
    display: flex;
    align-items: center;
    gap: 6px;
}

.label {
    color: #000000;
    font-size: 20px;
}

/* Tablet and Desktop */
@media (min-width: 701px) {
    .label {
        white-space: nowrap;
    }
}

@media (prefers-color-scheme: dark) {
    .label {
        color: #FFFFFF;
    }
}