.layout {
    display: flex;
    align-items: center;
    gap: 6px;
}

.title {
    color: #000000;
    font-size: 20px;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #FFFFFF;
    }
}